Repository Samfundet/Samfundet4, pull requests merged in 2024-02, with the labels that each got.

#586 Black-only navbar
  frontend/src/Components/Navbar/Navbar.module.scss
  frontend/src/Components/Navbar/Navbar.tsx
  frontend/src/Components/Navbar/components/HamburgerMenu/HamburgerMenu.module.scss
Labels: frontend

#1004 1000 user feedback system
  backend/root/management/commands/seed_scripts/textitems.py
  backend/root/utils/routes.py
  backend/samfundet/admin.py
  backend/samfundet/migrations/0010_userfeedbackmodel.py
  backend/samfundet/models/general.py
  backend/samfundet/models/utils/string_utils.py
  backend/samfundet/serializers.py
  backend/samfundet/urls.py
  backend/samfundet/views.py
  frontend/src/App.tsx
  frontend/src/Components/IconButton/IconButton.tsx
  frontend/src/Components/Modal/Modal.module.scss
  frontend/src/Components/UserFeedback/UserFeedback.module.scss
  frontend/src/Components/UserFeedback/UserFeedback.stories.tsx
  frontend/src/Components/UserFeedback/UserFeedback.tsx
  frontend/src/api.ts
  frontend/src/constants/TextItems.ts
  frontend/src/dto.ts
  frontend/src/i18n/constants.ts
  frontend/src/i18n/translations.ts
  frontend/src/routes/backend.ts
Labels: enhancement, frontend, backend

#1015 Div bug fix
  frontend/src/Components/UserFeedback/UserFeedback.module.scss
  frontend/src/Components/UserFeedback/UserFeedback.tsx
Labels: bug, frontend
