Repository Samfundet/Samfundet4, pull requests merged in 2024-04, with the labels that each got.

#1048 fix repeated seed
  backend/root/management/commands/seed_scripts/users.py
Labels: bug

#1029 fix: correct event data is fetched when you try to edit a certain event
  frontend/src/PagesAdmin/EventCreatorAdminPage/EventCreatorAdminPage.tsx
Labels: frontend

#928 797 assign interviewees to interview
  backend/samfundet/admin.py
  backend/samfundet/migrations/0012_interview_interviewers.py
  backend/samfundet/models/recruitment.py
  backend/samfundet/serializers.py
  frontend/src/dto.ts
Labels: recruitment

#1056 Create MiniCalendar component
  frontend/src/Components/MiniCalendar/MiniCalendar.module.scss
  frontend/src/Components/MiniCalendar/MiniCalendar.stories.tsx
  frontend/src/Components/MiniCalendar/MiniCalendar.tsx
  frontend/src/Components/MiniCalendar/index.ts
  frontend/src/Components/TimeDisplay/TimeDisplay.tsx
  frontend/src/Components/index.ts
  frontend/src/i18n/constants.ts
  frontend/src/i18n/translations.ts
  frontend/src/types.ts
  frontend/src/utils.ts
Labels: frontend, component
