Repository Samfundet/Samfundet4, pull requests merged in 2024-06, with the labels that each got.

#1031 1025 Fix SamfForm
  frontend/src/Components/Dropdown/Dropdown.tsx
  frontend/src/Components/UserFeedback/UserFeedback.tsx
  frontend/src/Forms/SamfForm.stories.tsx
  frontend/src/Forms/SamfForm.tsx
  frontend/src/Forms/SamfFormField.tsx
  frontend/src/Forms/SamfFormFieldTypes.tsx
  frontend/src/Forms/util.ts
  frontend/src/Pages/LoginPage/LoginPage.tsx
  frontend/src/Pages/LycheReservationPage/LycheReservationPage.tsx
  frontend/src/Pages/RecruitmentAdmissionFormPage/RecruitmentAdmissionFormPage.tsx
  frontend/src/Pages/SignUpPage/SignUpPage.tsx
  frontend/src/PagesAdmin/ClosedPeriodFormAdminPage/ClosedPeriodFormAdminPage.tsx
  frontend/src/PagesAdmin/EventCreatorAdminPage/EventCreatorAdminPage.tsx
  frontend/src/PagesAdmin/ImageFormAdminPage/ImageFormAdminPage.tsx
  frontend/src/PagesAdmin/RecruitmentFormAdminPage/RecruitmentFormAdminPage.tsx
  frontend/src/PagesAdmin/RecruitmentPositionFormAdminPage/RecruitmentPositionFormAdminPage.tsx
  frontend/src/PagesAdmin/SaksdokumentFormAdminPage/SaksdokumentFormAdminPage.tsx
  frontend/src/dto.ts
  frontend/src/i18n/constants.ts
  frontend/src/i18n/translations.ts
Labels: enhancement, frontend, component

#996 841 breadcrumbs component
  frontend/src/App.tsx
  frontend/src/AppRoutes.tsx
  frontend/src/Components/Breadcrumb/Breadcrumb.module.scss
  frontend/src/Components/Breadcrumb/Breadcrumb.tsx
  frontend/src/Components/Breadcrumb/index.ts
  frontend/src/Components/UserFeedback/index.ts
  frontend/src/Components/index.ts
  frontend/src/Pages/index.ts
  frontend/src/PagesAdmin/AdminLayout/AdminLayout.tsx
  frontend/src/PagesAdmin/AdminLayout/index.ts
  frontend/src/PagesAdmin/AdminPageLayout/AdminPageLayout.tsx
  frontend/src/PagesAdmin/ImpersonateUserAdminPage/index.ts
  frontend/src/PagesAdmin/RecruitmentPositionOverviewPage/index.ts
  frontend/src/PagesAdmin/index.ts
  frontend/src/i18n/constants.ts
  frontend/src/i18n/translations.ts
  frontend/src/index.tsx
Labels: difficulty: medium, frontend

#1185 Clean up SamfForm styling
  frontend/src/Components/Dropdown/Dropdown.module.scss
  frontend/src/Components/Dropdown/Dropdown.tsx
  frontend/src/Components/InputField/InputField.module.scss
  frontend/src/Components/TextAreaField/TextAreaField.module.scss
  frontend/src/Forms/SamfForm.module.scss
  frontend/src/_constants.scss
  frontend/src/_mixins.scss
  frontend/src/global.scss
Labels: frontend

#1193 Improve dark mode
  frontend/src/Components/Footer/Footer.module.scss
  frontend/src/PagesAdmin/AdminPageLayout/AdminPageLayout.module.scss
  frontend/src/_constants.scss
  frontend/src/global.scss
Labels: frontend

#1094 [Bugfix] Change datetime fields into date fields on ClosedPeriod form
  frontend/src/PagesAdmin/ClosedPeriodAdminPage/ClosedPeriodAdminPage.tsx
  frontend/src/PagesAdmin/ClosedPeriodFormAdminPage/ClosedPeriodFormAdminPage.tsx
Labels: frontend

#944 Availability dialog redesign
  backend/root/utils/routes.py
  backend/samfundet/admin.py
  backend/samfundet/migrations/0001_initial.py
  backend/samfundet/migrations/0019_recruitmentinterviewavailability_and_more.py
  backend/samfundet/models/recruitment.py
  backend/samfundet/serializers.py
  backend/samfundet/urls.py
  backend/samfundet/utils.py
  backend/samfundet/views.py
  frontend/src/Components/Modal/Modal.module.scss
  frontend/src/Components/Modal/Modal.tsx
  frontend/src/Components/OccupiedForm/Components/OccupiedLine/OccupiedLine.module.scss
  frontend/src/Components/OccupiedForm/Components/OccupiedLine/OccupiedLine.tsx
  frontend/src/Components/OccupiedForm/Components/OccupiedLine/index.ts
  frontend/src/Components/OccupiedForm/Components/index.ts
  frontend/src/Components/OccupiedForm/OccupiedForm.module.scss
  frontend/src/Components/OccupiedForm/OccupiedForm.tsx
  frontend/src/Components/OccupiedForm/OccupiedFormModal.tsx
  frontend/src/Components/OccupiedForm/components/TimeslotButton/TimeslotButton.module.scss
  frontend/src/Components/OccupiedForm/components/TimeslotButton/TimeslotButton.tsx
  frontend/src/Components/OccupiedForm/components/TimeslotButton/index.ts
  frontend/src/Components/OccupiedForm/components/TimeslotContainer/TimeslotContainer.module.scss
  frontend/src/Components/OccupiedForm/components/TimeslotContainer/TimeslotContainer.tsx
  frontend/src/Components/OccupiedForm/components/TimeslotContainer/index.ts
  frontend/src/Components/OccupiedForm/components/index.ts
  frontend/src/api.ts
  frontend/src/dto.ts
  frontend/src/hooks.ts
  frontend/src/i18n/constants.ts
  frontend/src/i18n/translations.ts
  frontend/src/routes/backend.ts
  frontend/src/utils.ts
Labels: frontend, backend

#1218 Clean up some admin forms' styling
  frontend/src/PagesAdmin/InformationFormAdminPage/InformationFormAdminPage.module.scss
  frontend/src/PagesAdmin/RecruitmentFormAdminPage/RecruitmentFormAdminPage.module.scss
  frontend/src/PagesAdmin/RecruitmentPositionFormAdminPage/RecruitmentPositionFormAdminPage.module.scss
  frontend/src/PagesAdmin/SultenMenuItemFormAdminPage/SultenMenuItemFormAdminPage.module.scss
Labels: frontend, styling

#1116 add more stats
  backend/manage.py
  backend/root/asgi.py
  backend/root/db_router.py
  backend/root/management/commands/seed_scripts/events.py
  backend/root/management/commands/seed_scripts/recruitment.py
  backend/root/management/commands/seed_scripts/recruitment_admissions.py
  backend/root/settings/base.py
  backend/root/wsgi.py
  backend/samfundet/admin.py
  backend/samfundet/conftest.py
  backend/samfundet/migrations/0020_recruitmentcampusstat_recruitmentdatestat_and_more.py
  backend/samfundet/models/recruitment.py
  backend/samfundet/models/tests/test_recruitment.py
  backend/samfundet/serializers.py
  backend/samfundet/signals.py
  backend/samfundet/views.py
Labels: backend
