Repository Samfundet/Samfundet4, pull requests merged in 2024-09, with the labels that each got.

#1320 Update active recruitment link styling
  frontend/src/Components/Navbar/Navbar.module.scss
Labels: frontend

#1396 added pipeline docs
  docs/technical/pipeline.md
Labels: documentation

#1394 add Lida to contributors list
  frontend/src/Pages/ContributorsPage/ContributorsPage.tsx
Labels: difficulty: easy, frontend

#1395 Add myself to contributors page
  frontend/src/Pages/ContributorsPage/ContributorsPage.tsx
Labels: difficulty: easy, frontend

#1392 Make Role extend CustomBaseModel and add content_type field
  backend/samfundet/migrations/0005_role_content_type_role_created_at_role_created_by_and_more.py
  backend/samfundet/models/role.py
Labels: backend

#1393 Add basic CRUD backend for Roles
  backend/samfundet/serializers.py
  backend/samfundet/urls.py
  backend/samfundet/views.py
Labels: backend

#1400 Fix Recruiter Dashboard infinite loop
  frontend/src/PagesAdmin/RecruitmentRecruiterDashboardPage/RecruitmentRecruiterDashboardPage.tsx
Labels: bug

#1403 Greatly simplify router loader/crumb logic
  frontend/src/Components/Breadcrumb/Breadcrumb.tsx
  frontend/src/PagesAdmin/RecruitmentSeparatePositionFormAdminPage/RecruitmentSeparatePositionFormAdminPage.tsx
  frontend/src/router/router.tsx
Labels: frontend, refactor
