Repository Samfundet/Samfundet4, pull requests merged in 2024-10, with the labels that each got.

#1514 Feat: Basic setup for role view.
  frontend/src/PagesAdmin/RoleAdminPage/RoleAdminPage.tsx
  frontend/src/PagesAdmin/RoleAdminPage/index.ts
  frontend/src/PagesAdmin/RolesAdminPage/RolesAdminPage.tsx
  frontend/src/PagesAdmin/index.ts
  frontend/src/api.ts
  frontend/src/i18n/constants.ts
  frontend/src/i18n/translations.ts
  frontend/src/router/loaders.ts
  frontend/src/router/router.tsx
  frontend/src/routes/frontend.ts
Labels: frontend

#1507 Create open to other positions page skeleton
  frontend/src/Components/RecruitmentApplicantsStatus/RecruitmentApplicantsStatus.tsx
  frontend/src/Components/RecruitmentWithoutInterviewTable/RecruitmentWithoutInterviewTable.tsx
  frontend/src/Components/RecruitmentWithoutInterviewTable/components/WithoutInterviewList.tsx
  frontend/src/Components/Table/Table.module.scss
  frontend/src/Components/Table/Table.stories.tsx
  frontend/src/Components/Table/Table.tsx
  frontend/src/Pages/EventsPage/components/EventsList/EventsList.tsx
  frontend/src/Pages/OrganizationRecruitmentPage/Components/PositionsTable/PositionsTable.tsx
  frontend/src/Pages/RecruitmentApplicationsOverviewPage/RecruitmentApplicationsOverviewPage.tsx
  frontend/src/PagesAdmin/ClosedPeriodAdminPage/ClosedPeriodAdminPage.tsx
  frontend/src/PagesAdmin/EventCreatorAdminPage/components/CustomTicketEditor.tsx
  frontend/src/PagesAdmin/EventsAdminPage/EventsAdminPage.tsx
  frontend/src/PagesAdmin/GangsAdminPage/GangsAdminPage.tsx
  frontend/src/PagesAdmin/InformationAdminPage/InformationAdminPage.tsx
  frontend/src/PagesAdmin/RecruitmentAdminPage/RecruitmentAdminPage.tsx
  frontend/src/PagesAdmin/RecruitmentApplicantAdminPage/RecruitmentApplicantAdminPage.tsx
  frontend/src/PagesAdmin/RecruitmentGangAdminPage/RecruitmentGangAdminPage.tsx
  frontend/src/PagesAdmin/RecruitmentGangAllApplicantsAdminPage/RecruitmentGangAllApplicantsAdminPage.tsx
  frontend/src/PagesAdmin/RecruitmentGangOverviewPage/RecruitmentGangOverviewPage.tsx
  frontend/src/PagesAdmin/RecruitmentGangOverviewPage/components/AppletContainer/AppletContainer.tsx
  frontend/src/PagesAdmin/RecruitmentOpenToOtherPositionsPage/OpenToOtherPositionsTable/OpenToOtherPositionsTable.tsx
  frontend/src/PagesAdmin/RecruitmentOpenToOtherPositionsPage/RecruitmentOpenToOtherPositionsPage.tsx
  frontend/src/PagesAdmin/RecruitmentOpenToOtherPositionsPage/index.ts
  frontend/src/PagesAdmin/RecruitmentOverviewPage/Components/RecruitmentProgression/RecruitmentProgression.tsx
  frontend/src/PagesAdmin/RecruitmentOverviewPage/Components/RecruitmentStatistics/RecruitmentStatistics.tsx
  frontend/src/PagesAdmin/RecruitmentPositionOverviewPage/components/ProcessedApplicants/ProcessedApplicants.tsx
  frontend/src/PagesAdmin/RecruitmentRecruiterDashboardPage/RecruitmentRecruiterDashboardPage.tsx
  frontend/src/PagesAdmin/RecruitmentUnprocessedApplicantsPage/RecruitmentUnprocessedApplicantsPage.tsx
  frontend/src/PagesAdmin/RolesAdminPage/RolesAdminPage.tsx
  frontend/src/PagesAdmin/RoomAdminPage/RoomAdminPage.tsx
  frontend/src/PagesAdmin/SaksdokumentAdminPage/SaksdokumentAdminPage.tsx
  frontend/src/PagesAdmin/SultenMenuAdminPage/SultenMenuAdminPage.tsx
  frontend/src/PagesAdmin/UsersAdminPage/UsersAdminPage.tsx
  frontend/src/PagesAdmin/index.ts
  frontend/src/i18n/constants.ts
  frontend/src/i18n/translations.ts
  frontend/src/router/router.tsx
  frontend/src/routes/frontend.ts
Labels: frontend

#1513 1135 set interview time for applicant through availability modal
  backend/root/utils/routes.py
  backend/samfundet/models/recruitment.py
  frontend/src/Components/MiniCalendar/MiniCalendar.tsx
  frontend/src/Components/OccupiedForm/OccupiedForm.tsx
  frontend/src/Components/OccupiedForm/components/TimeslotContainer/TimeslotContainer.tsx
  frontend/src/Components/OccupiedForm/components/index.ts
  frontend/src/Components/RecruitmentApplicantsStatus/RecruitmentApplicantsStatus.module.scss
  frontend/src/Components/RecruitmentApplicantsStatus/RecruitmentApplicantsStatus.tsx
  frontend/src/Components/SetInterviewManually/SetInterviewManually.module.scss
  frontend/src/Components/SetInterviewManually/SetInterviewManuallyForm.tsx
  frontend/src/Components/SetInterviewManually/SetInterviewManuallyModal.tsx
  frontend/src/Components/SetInterviewManually/index.ts
  frontend/src/Components/TimeDisplay/TimeDisplay.tsx
  frontend/src/Components/TimeslotContainer/TimeslotContainer.module.scss
  frontend/src/Components/TimeslotContainer/TimeslotContainer.tsx
  frontend/src/Components/TimeslotContainer/components/TimeslotButton/TimeslotButton.module.scss
  frontend/src/Components/TimeslotContainer/components/TimeslotButton/TimeslotButton.tsx
  frontend/src/Components/TimeslotContainer/components/TimeslotButton/index.ts
  frontend/src/Components/TimeslotContainer/index.ts
  frontend/src/Components/index.ts
  frontend/src/Forms/SamfFormFieldTypes.tsx
  frontend/src/PagesAdmin/RecruitmentPositionOverviewPage/RecruitmentPositionOverviewPage.tsx
  frontend/src/api.ts
  frontend/src/i18n/constants.ts
  frontend/src/i18n/translations.ts
  frontend/src/routes/backend.ts
Labels: frontend, backend, feature

#1532 1505 implement tests for rejection mail logic
  backend/root/utils/routes.py
  backend/samfundet/tests/test_email.py
  backend/samfundet/views.py
  frontend/src/routes/backend.ts
Labels: backend, testing

#1538 fix: make start_time and end_time load in correctly in CreateIntervie…
  frontend/src/PagesAdmin/RecruitmentPositionOverviewPage/RecruitmentPositionOverviewPage.tsx
  frontend/src/PagesAdmin/RoomAdminPage/CreateInterviewRoomPage/CreateInterviewRoomPage.tsx
Labels: bug, frontend

#1536 1447 implement standard admin page on roomadminpage
  frontend/src/PagesAdmin/RoomAdminPage/RoomAdminPage.tsx
  frontend/src/i18n/constants.ts
  frontend/src/i18n/translations.ts
  frontend/src/router/router.tsx
Labels: frontend

#1550 Add entrance field to Event model
  backend/samfundet/migrations/0008_event_entrance_en_event_entrance_nb.py
  backend/samfundet/models/event.py
Labels: backend

#1551 Fix Table unique key error
  frontend/src/Components/Table/Table.tsx
Labels: frontend

#1553 Add readOnly prop to Checkbox, fix error on ComponentPage
  frontend/src/Components/Checkbox/Checkbox.tsx
  frontend/src/Pages/ComponentPage/ComponentPage.tsx
Labels: frontend

#1556 Improve MultiSelect component
  frontend/src/Components/MultiSelect/MultiSelect.module.scss
  frontend/src/Components/MultiSelect/MultiSelect.tsx
  frontend/src/Components/MultiSelect/SelectBox.module.scss
  frontend/src/Components/MultiSelect/SelectBox.tsx
  frontend/src/Pages/ComponentPage/ComponentPage.tsx
  frontend/src/_constants.scss
  frontend/src/types.ts
Labels: frontend

#1547 Properly style inputs
  frontend/src/Components/Input/Input.module.scss
  frontend/src/Components/Input/Input.tsx
  frontend/src/Pages/ComponentPage/ExampleForm.tsx
  frontend/src/PagesAdmin/GangsFormAdminPage/components/GangForm/GangForm.tsx
  frontend/src/PagesAdmin/RecruitmentFormAdminPage/RecruitmentFormAdminPage.tsx
  frontend/src/PagesAdmin/RecruitmentPositionFormAdminPage/RecruitmentPositionForm.tsx
Labels: frontend

#1561 Tweak MiniCalendar styling
  frontend/src/Components/MiniCalendar/MiniCalendar.module.scss
Labels: difficulty: easy, frontend

#1565 Create DatePicker component
  frontend/src/Components/DatePicker/DatePicker.module.scss
  frontend/src/Components/DatePicker/DatePicker.stories.tsx
  frontend/src/Components/DatePicker/DatePicker.tsx
  frontend/src/Components/DatePicker/index.ts
  frontend/src/Components/index.ts
  frontend/src/Pages/ComponentPage/ExampleForm.tsx
  frontend/src/i18n/constants.ts
  frontend/src/i18n/translations.ts
Labels: frontend

#1562 Tweak timeslot button styling
  frontend/src/Components/TimeslotContainer/TimeslotContainer.module.scss
  frontend/src/Components/TimeslotContainer/components/TimeslotButton/TimeslotButton.module.scss
Labels: difficulty: easy

#1564 Allow deselecting date in MiniCalendar
  frontend/src/Components/MiniCalendar/MiniCalendar.tsx
Labels: difficulty: easy, frontend

#1571 1468 improved styling and layout
  frontend/src/Components/RecruitmentApplicantsStatus/RecruitmentApplicantsStatus.module.scss
  frontend/src/Components/RecruitmentApplicantsStatus/RecruitmentApplicantsStatus.tsx
  frontend/src/Components/SetInterviewManually/SetInterviewManually.module.scss
  frontend/src/Components/SetInterviewManually/SetInterviewManuallyModal.tsx
Labels: frontend, styling

#1558 Add FormDescription component
  frontend/src/Components/Forms/Form.tsx
  frontend/src/Components/Forms/Forms.module.scss
Labels: frontend

#1566 Increase stylelint rule "max-nesting-depth" to 2
  frontend/.stylelintrc
  frontend/src/Components/Carousel/Carousel.module.scss
  frontend/src/Components/CommandMenu/CommandMenu.scss
  frontend/src/Components/DynamicBuildingMap/DynamicBuildingMap.module.scss
  frontend/src/Components/Navbar/Navbar.module.scss
  frontend/src/Components/Navbar/components/HamburgerMenu/HamburgerMenu.module.scss
  frontend/src/Components/TabBar/TabBar.module.scss
  frontend/src/Components/Table/Table.module.scss
Labels: frontend

#1548 Clean Input component & create NumberInput
  frontend/src/Components/Input/Input.tsx
  frontend/src/Components/MultiSelect/MultiSelect.tsx
  frontend/src/Components/NumberInput/NumberInput.tsx
  frontend/src/Components/NumberInput/index.ts
  frontend/src/Components/index.ts
  frontend/src/Pages/ComponentPage/ExampleForm.tsx
  frontend/src/PagesAdmin/RecruitmentFormAdminPage/RecruitmentFormAdminPage.tsx
  frontend/src/PagesAdmin/RecruitmentFormAdminPage/recruitmentSchema.ts
Labels: frontend

#1517 Refactor Dropdown component & add automatic "null option"
  frontend/src/Components/Dropdown/Dropdown.module.scss
  frontend/src/Components/Dropdown/Dropdown.stories.tsx
  frontend/src/Components/Dropdown/Dropdown.tsx
  frontend/src/Components/EventQuery/EventQuery.tsx
  frontend/src/Components/EventQuery/utils.ts
  frontend/src/Components/MultiSelect/MultiSelect.tsx
  frontend/src/Components/MultiSelect/SelectBox.tsx
  frontend/src/Components/MultiSelect/utils.ts
  frontend/src/Components/RecruitmentApplicantsStatus/RecruitmentApplicantsStatus.tsx
  frontend/src/Forms/SamfForm.stories.tsx
  frontend/src/Forms/SamfFormField.tsx
  frontend/src/Forms/SamfFormFieldTypes.tsx
  frontend/src/Pages/ComponentPage/ExampleForm.tsx
  frontend/src/Pages/LycheReservationPage/LycheReservationPage.tsx
  frontend/src/PagesAdmin/EventCreatorAdminPage/EventCreatorAdminPage.tsx
  frontend/src/PagesAdmin/EventCreatorAdminPage/components/PaymentForm.tsx
  frontend/src/PagesAdmin/GangsFormAdminPage/components/GangForm/GangForm.tsx
  frontend/src/PagesAdmin/RecruitmentFormAdminPage/RecruitmentFormAdminPage.tsx
  frontend/src/PagesAdmin/SaksdokumentFormAdminPage/SaksdokumentFormAdminPage.tsx
  frontend/src/PagesAdmin/SultenMenuItemFormAdminPage/SultenMenuItemFormAdminPage.tsx
  frontend/src/dto.ts
Labels: frontend

#1557 Fix various table sorting cases
  frontend/src/PagesAdmin/RecruitmentAdminPage/RecruitmentAdminPage.tsx
  frontend/src/PagesAdmin/RecruitmentGangAdminPage/RecruitmentGangAdminPage.tsx
  frontend/src/PagesAdmin/RecruitmentGangOverviewPage/RecruitmentGangOverviewPage.tsx
  frontend/src/PagesAdmin/RecruitmentPositionOverviewPage/components/ProcessedApplicants/ProcessedApplicants.tsx
Labels: difficulty: easy

#1508 Add edit/create role form and page
  backend/root/utils/routes.py
  frontend/src/Components/MultiSelect/MultiSelect.tsx
  frontend/src/PagesAdmin/RoleAdminPage/RoleAdminPage.tsx
  frontend/src/PagesAdmin/RoleFormAdminPage/RoleFormAdminPage.tsx
  frontend/src/PagesAdmin/RoleFormAdminPage/components/RoleForm/RoleForm.module.scss
  frontend/src/PagesAdmin/RoleFormAdminPage/components/RoleForm/RoleForm.tsx
  frontend/src/PagesAdmin/RoleFormAdminPage/components/RoleForm/index.ts
  frontend/src/PagesAdmin/RoleFormAdminPage/components/index.ts
  frontend/src/PagesAdmin/RoleFormAdminPage/index.ts
  frontend/src/PagesAdmin/RolesAdminPage/RolesAdminPage.tsx
  frontend/src/PagesAdmin/index.ts
  frontend/src/api.ts
  frontend/src/dto.ts
  frontend/src/i18n/constants.ts
  frontend/src/i18n/translations.ts
  frontend/src/router/loaders.ts
  frontend/src/router/router.tsx
  frontend/src/routes/backend.ts
  frontend/src/routes/frontend.ts
  frontend/src/schema/role.ts
Labels: frontend, permissions
