Repository Samfundet/Samfundet4, pull requests merged in 2025-01, with the labels that each got.

#1544 Add mandatory confirmation of occupied timeslots
  frontend/src/Components/OccupiedForm/OccupiedForm.tsx
  frontend/src/Pages/RecruitmentApplicationFormPage/RecruitmentApplicationFormPage.module.scss
  frontend/src/Pages/RecruitmentApplicationFormPage/RecruitmentApplicationFormPage.tsx
  frontend/src/i18n/constants.ts
  frontend/src/i18n/translations.ts
Labels: frontend

#1581 Make status display actually human-readable statuses
  frontend/src/PagesAdmin/RecruitmentPositionOverviewPage/components/ProcessedApplicants/ProcessedApplicants.tsx
Labels: bug, frontend

#1664 Docs for configuring neovim for samf4
  docs/editors/vim.md
Labels: documentation
