Repository Samfundet/Samfundet4, pull requests merged in 2025-03, with the labels that each got.

#1737 1679 frontend seeing available interviewers at timeslot
  backend/samfundet/views.py
  frontend/src/Components/SetInterviewManually/SetInterviewManuallyForm.tsx
  frontend/src/Components/TimeslotContainer/TimeslotContainer.tsx
  frontend/src/api.ts
  frontend/src/dto.ts
  frontend/src/i18n/constants.ts
  frontend/src/i18n/translations.ts
  frontend/src/routes/backend.ts
Labels: frontend, backend, feature

#1694 Application priority bug
  backend/samfundet/models/recruitment.py
  backend/samfundet/models/tests/test_recruitment.py
Labels: help wanted

#1796 Adds billig buy button to billig event detail page
  frontend/src/Components/BuyButton/BuyButton.tsx
  frontend/src/Pages/EventPage/EventPage.tsx
  frontend/src/Pages/HomePage/components/EventCarousel/EventCarousel.tsx
  frontend/src/apis/billig/billigDtos.ts
  frontend/src/dto.ts
  frontend/src/i18n/constants.ts
  frontend/src/i18n/translations.ts
Labels: frontend, billig

#1819 Create reservation with venue slug instead of venue id
  backend/root/utils/routes.py
  backend/samfundet/migrations/0019_alter_reservation_venue.py
  backend/samfundet/models/general.py
  backend/samfundet/models/tests/test_reservation.py
  backend/samfundet/tests/test_views.py
  backend/samfundet/urls.py
  backend/samfundet/view/sulten_views.py
  frontend/src/Pages/LycheReservationPage/Components/ReserveTableForm/ReserveTableForm.tsx
  frontend/src/Pages/LycheReservationPage/LycheReservationPage.tsx
  frontend/src/apis/sulten/sultenApis.ts
  frontend/src/routes/backend.ts
  frontend/src/schema/reservation.ts
Labels: difficulty: easy, fullstack
